.cart-icon {
    width: 40px;
    height: 40px;
}
.navbar{
    position: fixed;
    z-index: 10;
}

.circle {
    height: 20px;
    width: 20px;
    font-size: 0.8rem;
    position: absolute;
    right: 0;
    bottom: -2px;
    background-color: #f55 !important;
}
